# 4.2.4 時系列データ

In [1]:
import pandas as pd
import numpy as np
dates = pd.date_range(start="2025-04-01", 
                      end="2025-04-30")
dates

DatetimeIndex(['2025-04-01', '2025-04-02', '2025-04-03', '2025-04-04',
               '2025-04-05', '2025-04-06', '2025-04-07', '2025-04-08',
               '2025-04-09', '2025-04-10', '2025-04-11', '2025-04-12',
               '2025-04-13', '2025-04-14', '2025-04-15', '2025-04-16',
               '2025-04-17', '2025-04-18', '2025-04-19', '2025-04-20',
               '2025-04-21', '2025-04-22', '2025-04-23', '2025-04-24',
               '2025-04-25', '2025-04-26', '2025-04-27', '2025-04-28',
               '2025-04-29', '2025-04-30'],
              dtype='datetime64[ns]', freq='D')

In [2]:
rng = np.random.default_rng(123)
df = pd.DataFrame(rng.integers(1, 31, size=30), 
                  index=dates, 
                  columns=["乱数値"])
df

            乱数値
2025-04-01    1
2025-04-02   21
2025-04-03   18
2025-04-04    2
2025-04-05   28
2025-04-06    7
2025-04-07    8
2025-04-08    6
2025-04-09   11
2025-04-10    6
2025-04-11   11
2025-04-12   25
2025-04-13   14
2025-04-14   28
2025-04-15   14
2025-04-16    9
2025-04-17   24
2025-04-18   25
2025-04-19   26
2025-04-20   27
2025-04-21    1
2025-04-22   16
2025-04-23    9
2025-04-24    8
2025-04-25    8
2025-04-26   25
2025-04-27   24
2025-04-28    7
2025-04-29   13
2025-04-30   23

In [3]:
dates = pd.date_range(start="2025-01-01", periods=365)
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10',
               ...
               '2025-12-22', '2025-12-23', '2025-12-24', '2025-12-25',
               '2025-12-26', '2025-12-27', '2025-12-28', '2025-12-29',
               '2025-12-30', '2025-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [4]:
rng = np.random.default_rng(123)
df = pd.DataFrame(
            rng.integers(1, 31, size=365), 
            index=dates, 
            columns=["乱数値"])
df

            乱数値
2025-01-01    1
2025-01-02   21
2025-01-03   18
2025-01-04    2
2025-01-05   28
...         ...
2025-12-27   23
2025-12-28   17
2025-12-29    2
2025-12-30    7
2025-12-31   23

[365 rows x 1 columns]

In [5]:
df.groupby(pd.Grouper(freq="ME")).mean()

                  乱数値
2025-01-31  14.516129
2025-02-28  12.892857
2025-03-31  16.935484
2025-04-30  12.933333
2025-05-31  16.612903
2025-06-30  14.200000
2025-07-31  14.161290
2025-08-31  15.935484
2025-09-30  13.500000
2025-10-31  13.483871
2025-11-30  14.300000
2025-12-31  17.741935

In [6]:
df.loc[:, "乱数値"].resample("ME").mean()

2025-01-31    14.516129
2025-02-28    12.892857
2025-03-31    16.935484
2025-04-30    12.933333
2025-05-31    16.612903
2025-06-30    14.200000
2025-07-31    14.161290
2025-08-31    15.935484
2025-09-30    13.500000
2025-10-31    13.483871
2025-11-30    14.300000
2025-12-31    17.741935
Freq: ME, Name: 乱数値, dtype: float64

In [7]:
pd.date_range(start="2025-01-01", end="2025-12-31", 
              freq="W-SAT")

DatetimeIndex(['2025-01-04', '2025-01-11', '2025-01-18', '2025-01-25',
               '2025-02-01', '2025-02-08', '2025-02-15', '2025-02-22',
               '2025-03-01', '2025-03-08', '2025-03-15', '2025-03-22',
               '2025-03-29', '2025-04-05', '2025-04-12', '2025-04-19',
               '2025-04-26', '2025-05-03', '2025-05-10', '2025-05-17',
               '2025-05-24', '2025-05-31', '2025-06-07', '2025-06-14',
               '2025-06-21', '2025-06-28', '2025-07-05', '2025-07-12',
               '2025-07-19', '2025-07-26', '2025-08-02', '2025-08-09',
               '2025-08-16', '2025-08-23', '2025-08-30', '2025-09-06',
               '2025-09-13', '2025-09-20', '2025-09-27', '2025-10-04',
               '2025-10-11', '2025-10-18', '2025-10-25', '2025-11-01',
               '2025-11-08', '2025-11-15', '2025-11-22', '2025-11-29',
               '2025-12-06', '2025-12-13', '2025-12-20', '2025-12-27'],
              dtype='datetime64[ns]', freq='W-SAT')

In [8]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(
                  freq="W-SAT")).sum(), columns=["乱数値"])
df_year

            乱数値
2025-01-04   42
2025-01-11   77
2025-01-18  139
2025-01-25   95
2025-02-01  116
2025-02-08  129
2025-02-15   76
2025-02-22   55
2025-03-01  101
2025-03-08  116
2025-03-15  117
2025-03-22  127
2025-03-29  112
2025-04-05  102
2025-04-12   94
2025-04-19   72
2025-04-26  104
2025-05-03   94
2025-05-10  133
2025-05-17   94
2025-05-24  120
2025-05-31  124
2025-06-07   89
2025-06-14  112
2025-06-21   95
2025-06-28  108
2025-07-05  125
2025-07-12   76
2025-07-19   90
2025-07-26   93
2025-08-02  122
2025-08-09  119
2025-08-16   94
2025-08-23  113
2025-08-30  119
2025-09-06   97
2025-09-13   79
2025-09-20   99
2025-09-27   91
2025-10-04   88
2025-10-11  100
2025-10-18   99
2025-10-25  108
2025-11-01   68
2025-11-08  102
2025-11-15  119
2025-11-22  116
2025-11-29   87
2025-12-06  120
2025-12-13  104
2025-12-20  131
2025-12-27  149
2026-01-03   49