#2-2.データを読み込んでみよう

In [27]:
import os
import pandas as pd

# 絶対パスでdataフォルダを定義（1回だけ）
folder_path = 'C:\\Users\\Yuichi Katogi\\learning-repo\\01_Python\\01-01_DA_WB\\2章\\data'

In [28]:
print(os.getcwd())

C:\Users\Yuichi Katogi\learning-repo\01_Python\01-01_DA_WB\2章

In [31]:
# 変更したいディレクトリの絶対パスを指定
os.chdir('C:\\Users\\Yuichi Katogi\\learning-repo\\01_Python\\01-01_DA_WB\\2章')

# 現在の作業ディレクトリを確認
print(os.getcwd())

C:\Users\Yuichi Katogi\learning-repo\01_Python\01-01_DA_WB\2章

In [41]:
df_sales_2021 = pd.read_csv(os.path.join(folder_path, '売上テーブル_2021.csv'), encoding='SJIS')
df_sales_2021.info()
df_sales_2021.head()
df_sales_2021.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38895 entries, 0 to 38894
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   売上ID    38895 non-null  object
 1   顧客ID    38895 non-null  object
 2   契約ID    38895 non-null  object
 3   売上日     38895 non-null  object
 4   売上      38893 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.5+ MB

            売上ID       顧客ID       契約ID         売上日         売上
38890  S-1125995  C-9999991  N-9999999  2021/12/31  9999999.0
38891  S-1125996  C-9999991  N-9999999  2021/12/31        0.0
38892  S-1125997  C-9999992  N-9999999  2021/12/31  9999999.0
38893  S-1125998  C-9999993  N-9999999  2021/12/31  9999999.0
38894  S-1125999  C-9999992  N-9999999  2021/12/31  9999999.0

In [42]:
df_sales_2022 = pd.read_csv(os.path.join(folder_path, '売上テーブル_2022.csv'), encoding='SJIS')
df_sales_2022.info()
df_sales_2022.head()
df_sales_2022.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36550 entries, 0 to 36549
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   売上ID    36550 non-null  object
 1   顧客ID    36550 non-null  object
 2   契約ID    36550 non-null  object
 3   売上日     36550 non-null  object
 4   売上      36550 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.4+ MB

            売上ID       顧客ID       契約ID         売上日     売上
36545  S-1177220  C-1001260  N-1004684  2022/12/30   9000
36546  S-1177223  C-1000315  N-1004170  2022/12/30  21000
36547  S-1177224  C-1000094  N-1004169  2022/12/30  15000
36548  S-1177234  C-1001645  N-1004605  2022/12/30  13000
36549  S-1177235  C-1001714  N-1004814  2022/12/31  50000

In [37]:
df_customer = pd.read_csv(os.path.join(folder_path, '顧客テーブル.csv'), encoding='SJIS')
df_customer.info()
df_customer.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1507 entries, 0 to 1506
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   顧客ID    1507 non-null   object
 1   顧客区分    1507 non-null   object
 2   顧客名     1507 non-null   object
 3   地域      1507 non-null   object
 4   都道府県    1507 non-null   object
 5   市区町村    1505 non-null   object
 6   初回契約日   1507 non-null   object
 7   社員ID    1507 non-null   int64
 8   顧客満足度   1507 non-null   int64
dtypes: int64(2), object(7)
memory usage: 106.1+ KB

        顧客ID   顧客区分         顧客名    地域 都道府県 市区町村      初回契約日    社員ID  顧客満足度
0  C-1000007  企業規模小    株式会社鈴木工業  関東地方  東京都  台東区   2015/1/9  101782      3
1  C-1000008    その他    株式会社中村工業    四国  徳島県  徳島市  2015/1/15  100726      3
2  C-1000009  企業規模中  大和屋根工事合同会社  関西地方  三重県   津市  2015/1/19  101305      2
3  C-1000010  企業規模大     株式会社ユタカ  関東地方  千葉県  松戸市  2015/1/19  107576      5
4  C-1000011  企業規模中    合資会社橋本商店  関東地方  東京都  大田区  2015/1/21  103152      1

#2-3.データを結合してみよう

In [43]:
# 2021年と2022年のdataをユニオンする（縦に結合）
df_sales = pd.concat([df_sales_2021, df_sales_2022], ignore_index=True)
df_sales.info()
df_sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75445 entries, 0 to 75444
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   売上ID    75445 non-null  object
 1   顧客ID    75445 non-null  object
 2   契約ID    75445 non-null  object
 3   売上日     75445 non-null  object
 4   売上      75443 non-null  float64
dtypes: float64(1), object(4)
memory usage: 2.9+ MB

        売上ID       顧客ID       契約ID       売上日       売上
0  S-1000072  C-1000222  N-1002716  2021/1/1   6000.0
1  S-1000073  C-1000458  N-1000683  2021/1/1  50000.0
2  S-1000074  C-1000599  N-1001044  2021/1/1  10000.0
3  S-1000075  C-1000599  N-1001042  2021/1/1  10000.0
4  S-1000076  C-1000599  N-1001041  2021/1/1  10000.0

In [44]:
# 行末が2022年のdataであることを確認する
df_sales.tail()

            売上ID       顧客ID       契約ID         売上日       売上
75440  S-1177220  C-1001260  N-1004684  2022/12/30   9000.0
75441  S-1177223  C-1000315  N-1004170  2022/12/30  21000.0
75442  S-1177224  C-1000094  N-1004169  2022/12/30  15000.0
75443  S-1177234  C-1001645  N-1004605  2022/12/30  13000.0
75444  S-1177235  C-1001714  N-1004814  2022/12/31  50000.0

In [45]:
# dataをユニオンした時はレコード数を確認する
print(len(df_sales_2021))
print(len(df_sales_2022))
print(len(df_sales))

38895
36550
75445

In [46]:
# 結合した売上データと顧客テーブルをジョインする（横に結合）
# 結合キーは「顧客ID」、左結合
df_sales_customer = pd.merge(df_sales, df_customer, on='顧客ID', how='left')
df_sales_customer.info()
df_sales_customer.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75445 entries, 0 to 75444
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   売上ID    75445 non-null  object
 1   顧客ID    75445 non-null  object
 2   契約ID    75445 non-null  object
 3   売上日     75445 non-null  object
 4   売上      75443 non-null  float64
 5   顧客区分    75443 non-null  object
 6   顧客名     75443 non-null  object
 7   地域      75443 non-null  object
 8   都道府県    75443 non-null  object
 9   市区町村    75357 non-null  object
 10  初回契約日   75443 non-null  object
 11  社員ID    75443 non-null  float64
 12  顧客満足度   75443 non-null  float64
dtypes: float64(3), object(10)
memory usage: 7.5+ MB

,売上ID,顧客ID,契約ID,売上日,売上,顧客区分,顧客名,地域,都道府県,市区町村,初回契約日,社員ID,顧客満足度
0,S-1000072,C-1000222,N-1002716,2021/1/1,6000.0,その他,合同会社グループ明伸,関西地方,大阪府,大阪市中央区,2016/1/1,105523.0,3.0
1,S-1000073,C-1000458,N-1000683,2021/1/1,50000.0,企業規模大,有限会社小川商事,中部地方,愛知県,名古屋市中村区,2017/3/1,103462.0,2.0
2,S-1000074,C-1000599,N-1001044,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
3,S-1000075,C-1000599,N-1001042,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0
4,S-1000076,C-1000599,N-1001041,2021/1/1,10000.0,企業規模中,吉田産業有限会社,北海道,北海道,札幌市中央区,2017/12/1,100173.0,4.0

In [47]:
# 結合後のレコード数を確認する
print(len(df_sales))
print(len(df_sales_customer))

75445
75445

#2-4.データの基本的な特性を把握しよう

#2-5.欠損値/異常値を処理してデータを綺麗にしよう

#2-6.データ取り扱いの注意点とよく使う処理を押さえよう

##■データ取り扱いの注意点を押さえよう

##■よく利用する処理を押さえよう

#2-7.集計・可視化・データ出力をしてみよう